header{
    background-color: #fcebbe;
}
main{
    background-color: #cccfff
}
footer{
    background-color: #754c00;
}
h1{
    background-color:#e6e6e6;
}
h2{
    background-color: #666666;
}
div{
    background-color: #8cc63f;
}
p{
    background-color: #f6fe00;
}
article{
 border: dashed 2px #f79300;
}
section{
    border: dashed 2px #009200;
}